.profile {
    background-color: #313439;
    min-height: 100vh;

    &__close {
        padding-top: 35px;
        padding-right: 35px;
        display: flex;
        justify-content: flex-end;
    }

    &__header {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        &_login {
            font-weight: 600;
            font-size: 16px;
            color: #e8e8e9;
            margin-bottom: 10px;
        }

        &_logo {
            font-weight: 600;
            font-size: 25px;
            color: #e8e8e9;
        }
    }

    &__btn {
        button {
            cursor: pointer;
            width: 166px;
            height: 70px;
            background: #1c1e21;
            border-radius: 45px;
            border: 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: rgba(180, 180, 180, 0.3);
        }
    }

    &__quizList {
        margin-top: 150px;
        p {
            font-weight: 600;
            font-size: 16px;
            color: #e8e8e9;
        }

        &_list {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        &_create {
            margin-bottom: 20px;
            display: flex;
            gap: 30px;
            align-items: center;

            a {
                padding: 10px 20px;
                text-decoration: none;
                background: #1c1e21;
                border-radius: 45px;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
            }
        }
    }

    &__quizHistory {
        margin-top: 30px;
        p {
            font-weight: 600;
            font-size: 16px;
            color: #e8e8e9;
            margin-bottom: 17px;
        }

        &_list {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 480px) {
        &__btn {
            button {
                cursor: pointer;
                width: 146px;
                height: 50px;
            }
        }
    }
}

.quizCard {
    max-width: 350px;
    max-height: 250px;
    padding: 10px;
    background: #1c1e21;
    border-radius: 34px;

    &__image {
        width: 330px;
        height: 160px;
        background: #313439;
        border-radius: 26px;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        &_title {
            padding: 15px 25px;
            background: #4f5358;
            border-radius: 44.2325px;
            font-weight: 600;
            font-size: 16px;
            color: #ffffff;
        }

        &_progress {
            padding: 15px 25px;
            background: #ccedff;
            border-radius: 44.2325px;
            font-weight: 600;
            font-size: 16px;
            color: #1c1e21;
        }
    }
}
