.createQuiz {
    background-color: #313439;
    min-height: 100vh;

    &__close {
        padding-top: 35px;
        padding-right: 35px;
        display: flex;
        justify-content: flex-end;
    }

    &__header {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        &_login {
            font-weight: 600;
            font-size: 16px;
            color: #e8e8e9;
            margin-bottom: 10px;
        }

        &_logo {
            font-weight: 600;
            font-size: 25px;
            color: #e8e8e9;
        }
    }

    &__btn {
        button {
            cursor: pointer;
            width: 166px;
            height: 70px;
            background: #1c1e21;
            border-radius: 45px;
            border: 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: rgba(180, 180, 180, 0.3);
        }
    }

    &__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 600;
            font-size: 24px;
            color: #e8e8e9;
            margin-bottom: 20px;
        }
    }

    &__input {
        margin-bottom: 30px;

        p {
            font-weight: 600;
            font-size: 16px;
            color: #e8e8e9;
            margin-bottom: 10px;
        }
        input {
            height: 70px;
            background: #1c1e21;
            border-radius: 45px;
            border: 0;
            padding-left: 48px;
            font-size: 22px;
            color: #b4b4b4;
            &::placeholder {
                font-size: 22px;
                color: #b4b4b4;
                opacity: 0.3;
            }
        }
    }

    &__map {
        max-width: 600px;
        margin: 0 auto;
    }

    &__btns {
        margin-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__btn2 {
        display: flex;
        justify-content: center;
        width: 300px;
        padding-bottom: 30px;
        button {
            cursor: pointer;
            padding: 10px 100px;
            height: 70px;
            background: #1c1e21;
            border-radius: 45px;
            border: 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
        }

        &_first {
            color: rgba(180, 180, 180, 0.3);
        }

        &_second {
            color: #fdfdfd;
        }
    }
}
